<section class="sub_page_topic">
  <h1>これで勝負しますか?</h1>
</section>

<section class="form">
<%= form_with(model: @tweet, local: true, url: tweets_path) do |form| %>
  <%= form.hidden_field :content %>

  <p>本文:<%= @tweet.content %></p>
  <%= form.submit  "ボケる" %>
  <%= form.submit '戻る',name: 'back' %>
<% end %>
</section>