<!DOCTYPE html>
<html>
  <head>
    <title>春の大喜利祭り</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>春の大喜利祭り</h1>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>@mayu_nishikawa</p>
    </footer>
  </body>
</html>
